.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar {
    width: 850px; /* Ajusta el ancho del calendario según tus necesidades */
    height: 700px; /* Ajusta la altura del calendario según tus necesidades */
}
