.navbar-brand img {
    max-height: 60px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav li {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav li a {
    color: #000000;
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: #007bff;
}

.navbar-nav li.active a {
    color: #007bff;
}

/* ----------------------------------------- */

.navbar {
    padding: 0 !important;
    padding-left: 0.5rem !important;
    padding-right: 1rem !important;
}

#barraNavegacio {
    background-color: #0bceaf;
    min-height: 68px !important;
    /* padding: 0px 16px 0px 0px !important; */
}

.lletraNav-transition {
    color: white !important;
    font-size: 20px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.estilNav {
    color: white !important;
    font-size: 20px;
}

.lletraNav-transition:hover {
    color: #000 !important;
}

.lletraNav-transition::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-image: linear-gradient(to right, black, black);
    transition: width 0.5s ease-out;
}

.lletraNav-transition:hover::after {
    width: 100%;
}


/* ------------------ */
.paginaActual {
    color: black !important;
    font-size: 20px;
}

.barra-baja {
    position: relative;
    display: inline-block;
}

.barra-baja::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.barra-baja:hover::before {
    transform: scaleX(1);
}

/* ------------------ */
.paginaActual {
    color: black !important;
    font-size: 20px;
}

.barra-baja {
    position: relative;
    display: inline-block;
}

.barra-baja::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.barra-baja:hover::before {
    transform: scaleX(1);
}

/* ------------- Estils per el scrollbar PAGINA WEB ------------- */
::-webkit-scrollbar {
    /* ample del scrollbar */
    width: 12px;
}

::-webkit-scrollbar-track {
    /* color del fondo del scrollbar */
    background: #4b525a;
}

::-webkit-scrollbar-thumb {
    /* color del thumb del scrollbar */
    background: #333;
    /* border-radius: 6px; */
    /* border: 1px solid white; */
}

#centrar {
    display: grid;
    place-items: center;
    padding-top: 90px;
}

table {
    line-height: 2;
}

#imatgeBody {
    background-image: url('../img/cercle_dia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 73vh;
    width: 100%;
    position: relative;
}

.table-container {
    height: 342px;
    /* Altura del contenedor */
    overflow-y: scroll;
    /* Añade scrollbar vertical */
}

#tablaFichaje {
    padding-right: 5px;
}

#my-table {
    border-collapse: collapse;
    width: 100%;
}

#my-table th,
#my-table td {
    border: 1px solid black;
    /* padding: 8px; */
}

/* ------------- Estils per el scrollbar TAULA ------------- */
.table-container::-webkit-scrollbar {
    /* ample del scrollbar */
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    /* color del fondo del scrollbar */
    background: #333;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    /* color del thumb del scrollbar */
    background: #0bceaf;
    border-radius: 6px;
    border: 1px solid white;
}

/* ------------------------- FOOTER ------------------------ */
footer {
    background-color: rgb(30, 30, 30);
    margin-top: 20px;
    color: #76808c;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 210px;
    /* Alçada del footer */

    display: flex;
    align-items: center;
    justify-content: center;
}

.contanidor {
    padding: 18px 15px 18px 15px;
}

#footer-right a {
    color: #76808c;
}

#footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-right a {
    padding-inline: 5px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 210px;
    /* Alçada del footer */
}

.user_name {
    background-color: #000;
    color: white;
    padding: 12px;
    border-radius: 8px;
    opacity: 0.9;
}